<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.people.dao.PinfoAnswerDAO">


	<select id="getOne" parameterType="int" resultType="PinfoCsDTO">
	SELECT ansno, bono, mno, ansdate, anscontents, anstitle
	FROM answer
	WHERE bono=#{bono}
	</select>

	<insert id="insertOne">
	INSERT answer
	VALUES(null, #{bono},#{mno},)
	</insert>

	<delete id="removeOne" parameterType="int">
		DELETE FROM answer
		where ansno = #{ansno}
	</delete>

	

	<update id="updateOne" parameterType="int">
	UPDATE answer
	SET anstitle = #{anstitle},
	anscontents=#{anscontents},
	ansdate= #{ansdate} 
	WHER ansno = #{ansno}
	
	</update>
</mapper>