<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.people.dao.BoardDAO">

	<select id="readAll" parameterType="StartEnd"
		resultType="BoardDTO">
		select ROWNUM, bono, mno, mname, bocontents, botitle,
		bohits, recnt,
		IF(DATE_FORMAT(bodate, '%Y%m%d') &lt;
			DATE_FORMAT(now(),'%Y%m%d'),
			DATE_FORMAT(bodate, '%Y.%m.%d'),
			DATE_FORMAT(bodate, '%H:%i')
		) as bodate, bostatus
		from (select @ROWNUM := @ROWNUM +1 AS ROWNUM, B.*
		FROM (select b.*, m.mname mname,
		(select count(*) from reply where bono = b.bono) as recnt
		from board as b inner join member as m on b.mno = m.mno 
		where botype=0 order by bono desc) B, 
		(SELECT @ROWNUM :=0 ) TMP) C
		where ROWNUM &lt;=
		#{endNo} and ROWNUM &gt;= #{startNo}

	</select>
	
	<!-- 대시보드 전체조회  -->
	<select id="readDashAll" resultType="BoardDTO">
		SELECT b.bono, b.botitle, b.bohits, m.mname, bostatus
		FROM board b INNER JOIN member m
		WHERE b.mno = m.mno
		AND botype = 0
		ORDER BY b.bono desc
		LIMIT 5;
	</select>

	<insert id="fileInsert" parameterType="FileDTO"
		useGeneratedKeys="true" keyProperty="fno">
		insert into file
		values(null,#{fname},#{fpath},#{mno},#{oriname})
	</insert>

	<insert id="insertOne" parameterType="BoardDTO">
		insert into board
		values(null,#{mno},#{botitle},#{bocontents},sysdate(),0,#{fno},0,#{bostatus})
	</insert>

	<select id="getOne" parameterType="int"
		resultType="BoardDTO">
		select b.*, m.mname mname 
		from board as b inner join member as m on b.mno = m.mno
		where b.bono = #{bono}
	</select>

	<update id="updateOne" parameterType="BoardDTO">
		update board set
		botitle=#{botitle},
		bocontents=#{bocontents},
		fno = #{fno},
		bostatus = #{bostatus}
		where bono = #{bono}
	</update>

	<update id="updateNoFile"
		parameterType="BoardDTO">
		update board set
		botitle=#{botitle},
		bocontents=#{bocontents},
		bostatus = #{bostatus}
		where bono = #{bono}
	</update>

	<delete id="removeOne" parameterType="int">
		delete from board
		where bono = #{bono}
	</delete>

	<update id="raiseBohits" parameterType="int">
		update board set
		bohits=bohits+1 
		where bono = #{bono}
	</update>

	<delete id="removeReplyAll" parameterType="int">
		delete from reply
		where bono=#{bono}
	</delete>

	<select id="getCount" parameterType="int" resultType="int">
		select count(*) 
		from reply 
		where bono=#{bono}
	</select>

	<select id="getBoardTotal" resultType="int">
		select count(*) 
		from board
		where botype=0
	</select>

	<select id="fileDetail" parameterType="int"
		resultType="FileDTO">
		select * from file 
		where fno = #{fno}
	</select>

	<delete id="removeFileByFno" parameterType="int">
		delete from file
		where fno=#{fno}
	</delete>

</mapper>