<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.people.dao.DocumentDAO">
	<select id="selectAll" resultType="DocumentDTO">
		SELECT dono,mno,doname,docontents,dodate,dotype,fno FROM document
	</select>
	
	<select id="selectBydono" resultType="DocumentDTO" parameterType="int">
		SELECT dono,mno,doname,docontents,dodate,dotype,fno FROM document
		WHERE dono = #{dono}
	</select>

</mapper>