<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.people.dao.MemberDAO">

	<select id="getIdOne" parameterType="String"
		resultType="MemberDTO">
		select (select uno from organization where ono = m.ono) uno, m.* 
		from member m where mid = #{username}
	</select>
</mapper>
  
  
  